@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Anasayfa Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hakkımızda Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">W
                            Hakkımızda İle İlgili İşlemleri Aşağıdan Gerçekleştirebilirsiniz. <b>(tema bütünlüğü için sadece bir tane hakkımzda alanı bulundurunuz.)</b>
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.AboutID</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td><a class="btn btn-outline-danger" href="/About/DeleteAbout/@item.AboutID">Sil</a></td>
                                        <td><a class="btn btn-outline-success" href="/About/UpdateAbout/@item.AboutID">Güncelle</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <a href="/About/CreateAbout" class="btn btn-outline-primary">Yeni Hakkımızda Yazısı</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
