@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<script src="~/js/qrcode.js"></script>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">QR İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <h6>QR KOD OLUŞTURMA SAYFASI</h6><br /><br />
                <form method="post" asp-action="Index" asp-controller="QRCode">
                    <input type="text" name="value" class="form-control" /><br />
                    <input type="submit" value="Oluştur" class="btn btn-success" /><br /><br />
                    <br />   
                </form>

                @if (ViewBag.QRCodeImage != null)
                {
                        <img src="@ViewBag.QRCodeImage"  class="image" style="width:400px; height:400px" /><br><br>
                        <input type="submit" value="Çöz" class="btn btn-danger btnqdecoder" />
                }


            </div>
        </div>
    </div>
</div>


